<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="TimeDelay" value="5" />

    <add key="ConnectionStringOn" value="Password=Youtube@#$2016;User ID=youtubevn;Initial Catalog=OnboxPhim;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=30;Min Pool Size=2;Connect Timeout=10;Connection Reset=True;Pooling=true"/>
    <!-- Folder backup -->
    <add key="Temp" value="Temp" />
    <add key="Backup" value="Backup" />
    <add key="System" value="PHIM_KEENG" />
    <add key="Store" value="AUTO_CDR_FOX_PHIMKEENG" />
    <add key="FileName" value="VIEW_FOX_" />

    <!-- FTP Server infomation-->
    <add key="host" value="10.30.150.202" />
    <add key="user" value="onbox" />
    <add key="pass" value="CDR@2016" />
    <add key="ftpdir" value="/" />
  </appSettings>
</configuration>