<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>

    <add key="ConnStr" value="Password=Youtube@#$2016;User ID=youtubevn;Initial Catalog=OnboxPhim;Data Source=10.60.107.48;Persist Security Info=false;Max Pool Size=60;Min Pool Size=5;Connect Timeout=10;Pooling=true"/>
    <add key="ConnStr1" value="Password=Viettelmedia!$^*2017;User ID=sieuhai;Initial Catalog=sieuhai_log;Data Source=10.30.150.200;Persist Security Info=false;Max Pool Size=30;Min Pool Size=2;Connect Timeout=3;Connection Reset=True;Pooling=true"/>
    
    <!--upload file single-->
    <add key="storegetsys" value="On_Keeng_getItemsys_storage"/>
    <add key="storeupdatesys_success" value="On_keeng_Updatesys_storage"/>
    <add key="storeupdatesys_fail" value="On_keeng_Updatesysfail_storage"/>
    <!--end upload file single-->

    <!--upload file batch excel-->
    <add key="storegetsys_excel" value="On_Phim_getItemsys_film_storage_excel"/>
    <add key="storeupdatesys_success_excel" value="On_Phim_Updatesys_group_film_Storage_excel"/>
    <add key="storeupdatesys_fail_excel" value="On_Phim_Updatesys_group_film_fail_storage_excel"/>
    <!--end upload file batch excel-->
    
    <add key="FolderMP4" value="E:/phimkeeng/mp4/"/>

    <add key="AWSAccessKey" value="DHGZ2XFNC1ZKACL6E6OF"/>
    <add key="AWSSecretKey" value="2L4R0vNx8hNWz1Zj50KneOIOIL9aDHY/eUwhm827"/>
    <add key="endPoint" value="http://data.storebox.vn"/>
    
    <!--<add key="AWSAccessKey" value="cdn-vtmedia"/>
    <add key="AWSSecretKey" value="fwm+rl0Ru9n8QWrejLAwX3/t8LHTJ/rx3O1zqvEB"/>
    <add key="endPoint" value="http://s3.storebox.vn"/>-->
    <add key="bucket" value="playnow"/>
    <add key="folder" value="mp4" />
    <add key="s3FileName" value="" />
    
    <add key="foderUpload" value="E:\onphim 115\mp4\" />
    
    <!--folder log-->
    <add key="Log_Folder" value="E:\APP_LOG\PHIMKEENG\Storage\" />
    
  </appSettings>
<system.net>
   <defaultProxy useDefaultCredentials="true"> </defaultProxy>
</system.net>
</configuration>
